# --- Giada patch file --- 
header=GIADAPTC
version=0.8.1
versionf=0.810000
patchname=my_patch.gptc
bpm=120.000000
bars=1
beats=4
quantize=0
outVol=1.000000
inVol=0.000000
metronome=0
lastTakeId=0
samplerate=44100
channels={{channel_count}}
{{#channels}}
# --- channel {{channel_index}} --- 
samplepath{{channel_index}}=/Users/clean/Desktop/slices/{{file_path}}
chanSide{{channel_index}}=0
chanType{{channel_index}}=1
chanKey{{channel_index}}={{channel_letter}}
chanIndex{{channel_index}}=0
chanmute{{channel_index}}=0
chanMute_s{{channel_index}}=0
chanSolo{{channel_index}}=0
chanvol{{channel_index}}=1.000000
chanmode{{channel_index}}=16
chanBegin{{channel_index}}=0
chanend{{channel_index}}=63976
chanBoost{{channel_index}}=1.000000
chanPanLeft{{channel_index}}=1.000000
chanPanRight{{channel_index}}=1.000000
chanRecActive{{channel_index}}=1
chanPitch{{channel_index}}=1.000000
chanMidiIn{{channel_index}}=1
chanMidiInKeyPress{{channel_index}}=0
chanMidiInKeyRel{{channel_index}}=0
chanMidiInKill{{channel_index}}=0
chanMidiInVolume{{channel_index}}=0
chanMidiInMute{{channel_index}}=0
chanMidiInSolo{{channel_index}}=0
{{/channels}}
# --- actions --- 
numrecs=0
# --- VST / master in --- 
masterIPlugins=0
# --- VST / master out --- 
masterOPlugins=0
# --- VST / channels --- 
chan0Plugins=0
chan1Plugins=0
