.row
  .col-md-6
    %table.table
      -@patch_set.patches.sort_by{|p|p.patch_index}.reverse.in_groups_of(4) do |group|
        %tr
          -group.reverse.each do |patch|
            %td{:class => ("bg-info" if @current_patch.id == patch.id)}
              %h4
                =patch.patch_index + 1
              =link_to(patch.track.track_name_pretty,{ :controller => 'jample', :action => 'set_current_patch', id:  patch.patch_index+36}) rescue "ERROR"
