.row
  .col-md-6
    %table.table
      -@all_patch_sets.each do |day, patch_sets|
        %tr
          %td
            %h4
              =day
        -patch_sets.each do |patch_set|
          %tr
            %td
              %h4
                =link_to(patch_set.patch_set_label || "random", "set_current_patch_set/#{patch_set.id}")
            %td
              =patch_set.voiced_count
