!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
          %title JAMPLES!!!
          / Bootstrap
          %link{:href => "bitch_css/bootstrap.min.css", :rel => "stylesheet"}
          %link{:href => "bitch_css/jample.css", :rel => "stylesheet"}
          %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"}
          %script{:src => "bitch_js/jample.js"}
          = javascript_include_tag "app" 

  %body
    =#yield
