

font-family: 'Oxanium', sans-serif;
font-family: 'Odibee Sans', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Changa', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'VT323', sans-serif;
font-family: 'IBM Plex Mono', sans-serif;
font-family: 'Press Start 2P', sans-serif;
font-family: 'Fira Mono', sans-serif;
font-family: 'Rubik Mono One', sans-serif;


/*=========================
Main
==========================*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jampler {
  overflow: hidden;
  display: block;
  position: relative;
  width: 90vw;
  height: 90vh;
  margin: 10px auto;
  border-radius: 8px;
  background-color: #ffefbf;
  background-image: url(/images/purty_wood.png);
  padding: 1.5rem;
}

a {
  color: #d0021b; /* red */
 }

/*=========================
Search Field
==========================*/
.input {
  display: inline-block;
  position: relative;
}

.input_field {
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 1rem;

}

.message {
  display: inline-block;
  font-family: 'Press Start 2P', sans-serif;
  background-color: #000;
  color: #d0021b; /* red */
  margin-top: .5rem;
  padding: 5px 10px;
}


/*=========================
Search Results
==========================*/
h2 {
  color: #4f2700; /* brown */
  font-family: 'Rubik Mono One', sans-serif;
  font-family: 'Yesteryear', cursive;
  font-size: 1.75rem;
  margin-bottom: .5rem;
  /*text-shadow: -1px -1px 1px #ebc78f, 1px 1px 1px #000;*/

  /*Bold white text, with seven descending shadows,
  each has no blur and is an increasingly darker shade of grey.
  The eighth shadow is dark-blue and blurred to enhance the overall effect.*/
/*  text-shadow: 0px 1px 0px #999,
               0px 2px 0px #888,
               0px 3px 0px #777,
               0px 4px 0px #666,
               0px 5px 0px #555,
               0px 6px 0px #444,
               0px 7px 0px #333,
               0px 8px 7px #001135;*/
}



.search-results {
  overflow: hidden;
  margin-top: 1rem;
  display: block;
  /*background-color: #000;*/
  color: #d0021b; /* red */
  font-family: 'VT323', sans-serif;
  font-size: 1.25rem;
}


.num-filtered-tracks,
.filtered-tracks,
.last-imported {
  overflow: hidden;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  display: block;
  background-color: #000;
  color: #d0021b; /* red */
  font-family: 'VT323', sans-serif;
  font-size: 1.25rem;
  border-radius: 6px;
  padding: 1rem;
}

ul {
  margin: 0 !important;
  padding: 0rem;
}


li {
  list-style-type: none;
  /*padding: 0rem;*/
}


/*=========================
Decorative Elements
==========================*/
h1.logo {
  font-family: 'Monoton', sans-serif;
  color: #4f2700; /* brown */
  position: absolute;
  bottom: -1rem;
}

section#lower-right-stripes {
  width: 263px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: skewY(-45deg);
  -moz-transform: skewY(-45deg);
  -ms-transform: skewY(-45deg);
  -o-transform: skewY(-45deg);
  transform: skewY(-45deg);
}

.stripe-style {
  width: 100%;
  height: 20px;
}

#stripe1 {
  background-color: #b02600; /* fire brick */
}

#stripe2 {
  background-color: #d22601; /* red */
}

#stripe3 {
  background-color: #e48401; /* orange */
}

#stripe4 {
  background-color: #e6a202; /* light orange */
}

